<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>supply_chain1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>retail_servlet1</display-name>
    <servlet-name>retail_servlet1</servlet-name>
    <servlet-class>supply_chain1.controller.retail_servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retail_servlet1</servlet-name>
    <url-pattern>/retail_servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>retail_servlet2</display-name>
    <servlet-name>retail_servlet2</servlet-name>
    <servlet-class>supply_chain1.controller.retail_servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retail_servlet2</servlet-name>
    <url-pattern>/retail_servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>retail_servlet3</display-name>
    <servlet-name>retail_servlet3</servlet-name>
    <servlet-class>supply_chain1.controller.retail_servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retail_servlet3</servlet-name>
    <url-pattern>/retail_servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>retail_servlet4</display-name>
    <servlet-name>retail_servlet4</servlet-name>
    <servlet-class>supply_chain1.controller.retail_servlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retail_servlet4</servlet-name>
    <url-pattern>/retail_servlet4</url-pattern>
  </servlet-mapping>
</web-app>